# Ignore compiled C files
*.exe
*.out
*.o

# Ignore node modules
node_modules/

# Ignore VS Code settings
.vscode/

# Ignore ngrok files
ngrok*
*.zip

# System files
.DS_Store
Thumbs.db